<!DOCTYPE html>
<html>
<head>
    <title>
        ERROR 403
    </title>
    <style type="text/css">
    html,
    body {
        margin: 0px;
        padding: 0px;
        font-family: tahoma, arial, sans-serif;
        text-align: center;
        background: #afafaf;
    }

    .container {
        margin: 7rem 0rem 0rem 0rem;
        display: inline-block;
    }

    h1 {
        margin: 0px;
        padding: 0px;
    }

    .special {
        font-size: 600%;
    }
    </style>
</head>

<body>
    <div class="container">
        <h1>Are you lost?</h1>
        <h1 class="special">403</h1>
        <h1>FORBIDEN</h1>
    </div>
</bodY>
</html>
